<!--{% extends "admin/base_site.html" %}-->
<!--{% block content %}-->
<!--<h2>Thống kê điểm theo khoa</h2>-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Khoa</th>-->
<!--        <th>Điểm trung bình</th>-->
<!--    </tr>-->
<!--    {% for faculty in faculty_data %}-->
<!--    <tr>-->
<!--        <td>{{ faculty.name }}</td>-->
<!--        <td>{{ faculty.avg_points }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->

<!--<h2>Thống kê điểm theo lớp</h2>-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Lớp</th>-->
<!--        <th>Điểm trung bình</th>-->
<!--    </tr>-->
<!--    {% for class in class_data %}-->
<!--    <tr>-->
<!--        <td>{{ class.name }}</td>-->
<!--        <td>{{ class.avg_points }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->

<!--<h2>Xếp loại</h2>-->
<!--<ul>-->
<!--    {% for classification, count in classifications.items %}-->
<!--    <li>{{ classification }}: {{ count }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!--{% endblock %}-->